.mystic-badge {
	border: 1px solid gray;
	border-radius: 3px;
	position: absolute;
	box-sizing: border-box;
	left: -102px;
	top: 74px;
	width: 68px;
	text-align: center;
}

.mystic-badge.mystic-badge-inline {
	position: inherit;
	top: inherit;
	left: inherit;
	padding: 2px 4px;
	font-size: 0.8em;
}